# fly.toml app configuration file generated for loldle-bot on 2026-01-11T20:41:32-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'loldle-bot'
primary_region = 'ewr'

[build]

[env]
  NODE_ENV = "production"

# Keep bot running 24/7
[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = false
  min_machines_running = 1

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
